@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #b384bc;
}
body{
    background-color: #e8fbff;
    font-family: 'Hind Siliguri', sans-serif;
}
.top-container{
    height: 460px;
    width: 100%;
    background-image: linear-gradient(0deg, #ffdcdc, transparent);
}
.topC{
    height: 60px;
    width: 100%;
    background: linear-gradient(0deg, rgba(241,241,241,0) 0%, rgba(91,219,255,0.846673703661152) 94%, rgba(155,207,255,0.933508) 111%);
}
.navbar{
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 836px;
    margin-top: 6px;
}
.options a{
    text-decoration: none;
    color: black;
    display: flex;
}
.logo img{
    height: 110px;
    margin-top: -20px;
    margin-left: -20px;
}
.child{
    height: 70%;
    display: flex;
    padding-right: 10px;
    border-right: 1px dashed #666666;
}
.lst-child{
    border: none;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
}
.lst-inner{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.inner h4{
    color: #264592;
    font-size: 13px;
    font-family: system-ui;
}
.user-inner{
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}
.user-child{
    width: 130px;
    justify-content: center;
    align-items: center;
}
.arrow{
    margin-left: 20px;
    padding-top: 5px;
}
.fst-child{
    padding-left: 0px;
}
.inner p{
    color: #043465;
    font-size: 12px;
}
.snd-child{
    margin-left: -27px;
}
.trd-child{
    margin-left: -27px;
}
#user-downArrow{
    color: #a0a2a3;
}
.container{
    height: 300px;
    width: 1100px;
    margin: 40px auto 0px;
    border-radius: 10px;
    background-color: #d1eeff73;
    box-shadow:  0px 8px 25px 4px rgb(0 0 0 / 10%);
    position: relative;
}
.menu-box{
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    position: relative;
    bottom: 27px;
    box-shadow: 0px 0px 15px #cdadffe0;
    background-color: #b6b6ff61; 
}
.stick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: azure;
    background-image: none;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    z-index: 3;
}
.menu-box-stick{
    display: block;
    left: -20px;
    bottom: 0; 
    box-shadow: none;
    background-color: azure; 
}
.option{
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: -10px;
}
.txt{
    padding-right: 29px;
    font-weight: 500;
    color: #4a4a4a;
}
.op{
    display: flex;
    height: 100%;
    width: 370px;
    justify-content: space-evenly;
}
.booking{
    height: 145px;
    width: 95%;
    margin: 13px auto 0px;
    border: 1px solid #b0b0b0;
    border-radius: 7px;
    display: flex;
}
.loc{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border-right: 1px solid #b0b0b0;
    padding-left: 28px;
    cursor: pointer;
}
.ll{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.booking div:hover{
    background-color: #d1f5ff;
}
.language{
    position: absolute;
    height: 40px;
    width: 155px;
    border-radius: 7px;
    background-color: #0000002b;
}
.l1{
    margin: 10px 10px 0px 0px;
    font-size: 17px;
    color: #5b5b5b;
    font-weight: 500;
}
.l-city{
    margin: -5px 0px 2px 0px;
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    width: 260px;
}
.l-airport{
    font-size: 12px;
    color: #6b6b6b;
    margin-top: -10px;
}
.time{
    height: 100%;
    width: 150px;
    padding-left: 20px;
    border-right: 1px solid #b0b0b0;
    cursor: pointer;
}
.l2{
    font-size: 17px;
    color: #5b5b5b;
    font-weight: 500;
    margin-top: 10px;
}
.down{
    margin-left: 8px;
}
.down i{
    color: #2f5fda;
}
.date{
    margin-top: -7px;
}
.day{
    font-size: 35px;
    font-weight: 600;
}
.mm-yy{
    padding-left: 8px;
    font-size: 23px;
    font-weight: 400;
}
.t-day{
    font-size: 16px;
    color: #333232;
    margin-top: -13px;
}
.r-txt{
    font-size: 13px;
    font-weight: 600;
    color: #9b9b9b;
    margin-top: 7px;
}
.position{
    height: 100%;
    width: 221px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px;
    cursor: pointer;
}
.t-txt{
    margin-top: -15px;
}
.tp{
    font-size: 14px;
}
.offer{
    font-size: 13px;
    color: #b70202;
    font-weight: 500;
}
.menu-child{
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 88px;
}
.menu-child div{
    height: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.menu-child:hover{
    color: #0069e1;
}
.active{
    color: #0069e1;  
}
.btn{
    height: 35px;
    width: 140px;
    border: none;
    outline: none;
    background: linear-gradient(50deg, #65d5ff, #fd86bb);
    color: #09208a;
    font-size: 19px;
    font-weight: 600;
    border-radius: 30px;
    margin: 52px 0px 0px 475px;
    cursor: pointer;
}
.downcont{
    height: 55px;
    width: 67%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e3f5ee;
    border-radius: 50px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
}
.downChild{
    display: flex;
    border-right: 1px solid #b0b0b0;
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.dc3{
    width: 350px;
    background-color: #fffed2bf;
}
.dc5{
    border-right: none;
}
.dc1 h6{
    font-weight: 500;
}
.dc2 h6{
    font-weight: 500;
}
.dc4 h6{
    font-weight: 500;
}
.dc5 h6{
    font-weight: 500;
}
.ttxt h6{
    font-size: 14px;
}
.ttxt p{
    font-size: 11px;
    color: #9b9b9b;
}
.downChild span{
    padding-top: 7px;
    padding-right: 12px;
}
.downChild img{
    height: 30px;
    width: 30px;
}
#spp{
    color: rgb(24, 133, 94);
    font-weight: 500;
    padding-top: 0px;
    padding-right: 0px;
}
.offers{
    height: 500px;
    width: 80%;
    margin: 50px auto;
}
.offers-box{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%)
}
.offers-nav{
    height: 50px;
    width: 90%;
    display: flex;
    margin: 0px auto 0px;
    justify-content: space-between;
    padding-top: 25px;
}
.offer-txt h5{
    font-size: 51px;
    font-weight: 500;
    margin-top: -11px;
}

.offers-buttons{
    width: 80%;
    height: 32px;
    margin-top: 10px;
    margin-right: 35px;
    border-bottom: 1px solid #b0b0b0;
}
.btnss{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
.offer-button-txt{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.active-txt{
    color: hsl(212, 100%, 44%);
    border-bottom: 3px solid rgb(30, 30, 230);
    text-align: center;
    width: 110%;
}
.offer-down-main{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.offer-down-main::-webkit-scrollbar{
    display: none;
}
.sc{
    width: 1350px;
    display: flex;
    gap: 20px;
}
.offer-down-box{
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.offer-child-box{
    height: 170px;
    width: 440px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}
.inner-top{
    width: 100%;
    height: 85%;
    display: flex;
    gap: 21px;
}
.inner-down{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 50px;
}
.offer-img img{
    height: 127px;
    border-radius: 10px;
}
.wr-top{
    font-size: 18px;
    font-weight: 600;
    margin-top: 3px;
    line-height: 1.2;
}
.wr-down{
    font-size: 17px;
    color: #9b9b9b;
    line-height: 1;
    margin-top: -10px;
}
.red{
    display: inline-block;
    height: 2px;
    width: 40px;
    background-color: red;
    margin-bottom: 10px;
}
.tc{
    color: #4a4a4a;
    width: 124px;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 500;
}
.wel{
    color: #4a4a4a;
    padding-top: 4px;
    font-weight: 300;
    width: 115px;
}
.details{
    font-weight: 600;
    color: #0069e1;
    padding-top: 4px;
    cursor: pointer;
}
.child span{
    position: relative;
}
.nav-offer-img{
    height: 24px;
    margin: 7px 8px 0px 0px;
    animation-name: offer;
    animation-timing-function: linear;
    animation-duration: 7s;
}
@keyframes offer{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(80deg);}
    40%{transform: rotate(160deg);}
    60%{transform: rotate(240deg);}
    80%{transform: rotate(310deg);}
    100%{transform: rotate(360deg);}
}
.Biz-img{
    height: 25px;
    width: 27px;
    margin: 6px 2px 0px 28px;
}
.travle-img{
    height: 25px;
    width: 27px;
    margin: 6px 7px 0px 33px;
}
.user-img{
    height: 27px;
    width: 27px;
    margin: 6px 7px 0px 10px;
}
.flag-img{
    height: 27px;
    width: 27px;
    margin: 6px 7px 0px 10px;
}
.dc3 p{
    color: rgb(24, 133, 94);
    font-weight: 500;
}
.sc-all-offers{
    width: 3220px;
    display: flex;
    display: none;
}
.offer-down-box2{
    height: 400px;
    width: 39.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.sc-bank-offers{
    width: 2300px;
    display: flex;
    display: none;
}
.change{
    position: relative;
}
.change img{
    height: 32px;
    position: absolute;
    left: 244px;
    top: 53px;
}
.sc-flight-offers{
    width: 2300px;
    display: flex;
    display: none;
}
.sc-hotal-offers{
    width: 2300px;
    display: flex;
    display: none;
}
.sc-holidays-offers{
    width: 1380px;
    display: flex;
    display: none;
}
.sc-train-offers{
    width: 1166px;
    display: flex;
    justify-content: center;
    display: none;
}
.sc-cab-offers{
    width: 1166px;
    display: flex;
    justify-content: center;
    display: none;
}
.sc-other-offers{
    width: 2300px;
    display: flex;
    display: none;
}
.third-container span img{
    height: 60px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.third-container{
    height: 115px;
    width: 80%;
    margin: 10px auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.third-container::-webkit-scrollbar{
    display: none;
}
.t-sc{
    display: flex;
    gap: 15px;
    width: 2000px;
    padding-left: 5px;
    padding-top: 8px;
}
.t-child{
    height: 100px;
    width: 400px;
    display: flex;
    align-items: end;
    background-color: white;
    gap: 15px;
    border-radius: 5px;
    box-shadow:  0 2px 4px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}
.t2-txt{
    margin-bottom: 25px;
}
.t2-txt a{
    text-decoration: none;
    color: #0069e1;
}
footer{
    background-color: #043465;
    box-shadow: 0px -8px 15px 0 rgb(0 0 0 / 20%);
}
.footer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 50px auto 1px;
}
.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.box span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.box{
    text-align: center;
}
.i{
    font-size: 27px;
    color: #99afc2;
}
.box p{
    color: #8c949b;
}
.credit{
    text-align: center;
    padding-top: 10px;
    color: honeydew;
    font-size: 14px;
    word-spacing: 2px;
}
.app-container{
    width: 80%;
    height: 300px;
    margin: 50px auto 0px;
    border-radius: 8px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
}
.app-main{
    height: 100%;
    padding-top: 27px;
    padding-left: 40px;
}
.app-txt{
    width: 40%;
}
.app-txt h2{
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    color: #000;
}
.app-txt p{
    font-size: 20px;
    color: #4a4a4a;
}
.app-down{
    display: flex;
}
.app-child1{
    display: flex;
    margin-top: 45px;
}
.app-img img{
    width: 100px;
}
.app-mob{
    padding-left: 20px;
    padding-top: 18px;
}
.app-inp{
    display: flex;
    width: 425px;
    height: 40px;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
}
.app-input{
    border: 1px solid #9b9b9b;
    border-left: none;
    background: none;
    outline: none;
    width: 250px;
    padding-inline-start: 11px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffff;
}
.app-btn{
    width: 124px;
    border-radius: 0 4px 4px 0;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: 600;
    color: #008cff;
    outline: 0;
    cursor: pointer;
    background-color: #fff;
}
.cuntry-code{
    display: flex;
    padding-top: 6px;
    padding-left: 8px;
    background-color: #ffff;
    border: 1px solid #9b9b9b;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}
.code{
    font-weight: 600;
}
.qr-box{
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 134px;
}
.qr img{
    height: 100px;
}
.qr p{
    text-align: center;
    font-weight: 600;
}
.playstore{
    display: flex;
    background-color: #000000fa;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
}
.playimg{
    height: 100%;
    width: 40px;
    padding-top: 5px;
    padding-left: 15px;
}
.play{
    height: 35px;
}
.playstore-txt{
    height: 100%;
    width: 100%;
    color: #d8d8d8;
    text-align: center;
}
.play-ttx{
    font-size: 10px;
    margin-left: -28px;
    margin-top: 9px;
    line-height: 1;
}
.gp{
    font-size: 18px;
    padding-left: 7px;
}
.more-way-txt{
    color: #c1bfbf;
    padding-left: 38px;
    margin-bottom: 10px;
}
.appstore{
    display: flex;
    background-color: #000000fa;
    border-radius: 5px;
    width: 160px;
    margin-top: 20px;
    cursor: pointer;
}
.apple{
    height: 35px;
}
.apple-ttx{
    font-size: 10px;
    margin-left: 5px;
    margin-top: 9px;
    line-height: 1;
}
.app-child2{
    margin-top: -14px;
    padding-left: 50px;
    border-left: 1px solid #9b9b9b;
    margin-left: 38px;
}
.ordernow-container{
    display: flex;
    width: 80%;
    height: 95px;
    margin: 35px auto 0;
}
.order-inner{
    display: flex;
    border-radius: 8px;
    border: 2px solid;
    border-left: 40px solid;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    gap: 380px;
    background-color: #f1fff7;
}
.ord-img{
    height: 65px;
    border-radius: 4px;
    position: absolute;
    left: -20px;
    top: 14px;
}
.ord-txt{
    color: #c2c0c0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}
.tr-money{
    font-size: 20px;
    display: flex;
    margin-top: 16px;
}
.tr-money img{
    height: 22px;
    width: 30px;
    position: relative;
    top: 4px;
}
.trip{
    font-weight: 600;
    color: #42a5f5;
}
.oney{
    font-weight: 600;
    color: #90caf9;
}
.ord-btn{
    margin: 30px 0px 0px 90px;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    color: #008cff;
}
.od-box{
    padding-left: 50px;
}
.ord-btn img{
    height: 20px;
    width: 40px;
    margin-bottom: -3px;
}
.gallery-main{
    width: 80%;
    height: 350px;
    margin: 40px auto 0;
    padding: 60px 20px 60px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
    position: relative;
}
.sc-g{
    overflow: scroll;
    height: 120%;
}
.sc-g::-webkit-scrollbar{
    display: none;
}
.gallery-sc{
    display: flex;
}
.fst-slid{
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    width: 100%;
}
.snd-slid{
    display: none;
    justify-content: space-evenly;
    height: 78%;
    width: 2000px;
}
.gallery-child {
  width: 340px;
  height: 100%;
}
.gallery {
    border: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    background-color: #eeffe5;
}
.gallery:hover {
    border:solid rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 5px 0 rgb(0 0 0 / 35%);
    background-color: #ccffb1;
}
.gallery img {
    width: 340px;
    height: 150px;
}
.gallery a{
    text-decoration: none;
}
.gallery-txt {
    color: #525252f5;
    font-size: 17px;
    font-weight: 500;
    padding: 16px 10px;
    text-align: center;
    margin-bottom: 2px;
}
.right-swip-arrow{
    height: 45px;
    position: absolute;
    top: 151px;
    right: -20px;
    cursor: pointer;
}
.left-swip-arrow{
    display: none;
    height: 45px;
    position: absolute;
    top: 151px;
    left: -20px;
    cursor: pointer;
}
.from-popUp-main{
    height: 290px;
    width: 280px;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 28px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}
.from-input{
    display: flex;
    width: 100%;
    position: static;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
}
.search-icon{
    width: 35px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    padding-top: 9px;
}
.from-inp{
    border: none;
    outline: none;
    font-size: 17px;
    height: 40px;
    width: 249px;
    padding-left: 5px;
}
.from-down{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}
.r-city{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 0px 0px 10px;
    color: #9b9b9b;
}
.city{
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.city:hover{
    background-color: rgb(230 230 230 / 93%);
}
.plain-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.plain-icon img{
    height: 26px;
}
.ct{
    padding-top: 17px;
}
.ct-1{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.ct-2{
    line-height: 1;
    font-size: 13px;
    font-weight: 400;
    color: #939494;
}
.ct-code{
    padding-top: 17px;
    margin-right: 8px;
    font-weight: 500;
    color: #666767;
}
.popular-city{
    margin-top: -9px;
}
.c-beng{
    margin-left: -16px;
}
.c-bkk{
    margin-left: -40px;
}
.c-pune{
    margin-left: -92px;
}
.c-chni{
    margin-left: -17px;
}
.to-popUp-main{
    height: 290px;
    width: 280px;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 290px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}
.city-main{
    height: 300px;
    width: 80%;
    margin: 45px auto 0px;
    border-radius: 8px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
    padding: 26px 30px 25px 30px;
}
.city-box{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.city-child{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cct-c{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.city-img img{
    border-radius: 50%;
}
.cc{
    height: 100%;
    width: 287px;
    margin-left: 6px;
}
.cc p{
    font-weight: 300;
}
.cc b{
    font-weight: 500;
    color: #727272fc;
}
.about-us-main{
    height: 390px;
    width: 80%;
    margin: 40px auto -15px;
}
.about-h{
    font-size: 11px;
    font-weight: 600;
    color: #4a4a4a;
    line-height: 3;
}
.about-p{
    color: #8f8f8f;
    font-size: 11px;
    font-weight: 400;
    word-spacing: 1px;
}
.down-hotel{
    height: 150px;
    width: 80%;
    border-radius: 8px;
    display: block;
    background-color: #e2f0ff;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}
.app-container-hotel{
    margin: 174px auto 0px;
}
.down-inner{
    display: flex;
    margin-top: 10px;
    gap: 140px;
}
.d-i-1{
    display: flex;
    gap: 15px;
    padding-top: 5px;
}
.di-h{
    color: #4a4a4a;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
}
.di-p{
    font-size: 17px;
    color: #4a4a4a;
    line-height: 1.4;
}
.menu-box a{
    text-decoration: none;
    color: black;
}
.d-i-2{
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    border: 1px #4ca6ff solid;
    width: 63%;
    height: 70px;
    margin-top: 3px;
}
.di2-fst{
    padding: 18px;
    display: flex;
}
.di2-snd{
    padding: 18px;
    display: flex;
}
.di2-snd h4{
    padding-top: 3px;
    font-size: 18px;
    color: #4a4a4a;
}
.di2-fst h4{
    color: #4a4a4a;
    font-size: 18px;
}
.tik img{
    height: 17px;
}
.tik{
    margin-left: 7px;
    margin-right: 12px;
    padding-top: 8px;
}
.down-bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}
.down-bottom a{
    text-decoration: none;
    font-weight: 600;
    padding-top: 5px;
    color: #008cff;
}
.down-bottom p{
    font-size: 13px;
    padding-right: 10px;
    padding-top: 10px;
    color: #999999f0;
    font-weight: 500;
}
.user-pop-up{
    height: 310px;
    width: 400px;
    position: absolute;
    border-radius: 8px;
    right: 310px;
    top: 50px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 15%);
    background-color: white;
    z-index: 1;
    display: none;
}
.user-pop-inner a{
    text-decoration: none;
    color: #333232;
}
.user-pop-child{
    display: flex;
    gap: 20px;
    margin-top: 16px;
    height: 60px;
    padding: 1px 11px 0px 13px;
}
.user-pop-child:hover{
    background-color: #daeeffb2;
}
.us-pop-img i{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 4px;
    color: #8c949b;
}
.us-pop-txt h4{
    line-height: 1.3;
}
.us-pop-txt p{
    line-height: 1.2;
    font-size: 14px;
}
#user-upArrow{
    color: #a0a2a3;
    display: none;
}
#lang-downArrow{
    color: #a0a2a3;
}
.loc2{
    width: 35%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.country{
    font-size: 12px;
    color: #6b6b6b;
    margin-top: -10px;
}
.ttt2{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: none;
    padding-left: 17px;
    width: 156px;
}
.ppp2{
    border-radius: 0;
    border-right: 1px solid #b0b0b0;
}
.oop2{
    margin-top: 10px;
}
.tttx{
    position: relative;
    top: -30px;
    left: -293px;
    font-weight: 500;
    color: #4a4a4a;
}
.tttx a{
    text-decoration: none;
    color: #008cff;
}
.op label{
    font-weight: 600;
}
.btn2{
    margin: 34px 0px 0px 475px;
}
.date-popUp-main{
    position: absolute;
    top: 130px;
    left: 550px;
    display: none;
}
.dep-pop-inner input{
    width: 149px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    color: #5c5c5c;
    border: none;
    outline: none;
    padding: 10px 10px 11px 8px;
    cursor: pointer;
}
.date-popUp-main-2{
    position: absolute;
    top: 130px;
    left: 700px;
    display: none;
}
.down-bus{
    height: 126px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    box-shadow: none;
    top: -10px;
}
.down-bus img{
    width: 100%;
    border-radius: 15px;
}
.container-bus{
    margin: 135px auto 0;
}
.sddo{
    height: 170px;
    width: 1080px;
    background-color: #ffffff00;;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    position: absolute;
    top: 133px;
    left: -40px;
    border: 40px #e3be61d9;
    border-bottom-width: 52px;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 167px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    transform: rotate(357.5deg);
}
.pp-up-bus{
    z-index: 1;
    top: 145px;
}
.pp-up-bus-tp{
    left: 457px;
    z-index: 1;
    top: 145px;
}
.date-popUp-bus{
    position: absolute;
    top: 150px;
    left: 901px;
    display: none;
}
.loc-bus{
    width: 41%;
}
.time-bus{
    width: 188px;
    border-right: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.tttx-bus{
    top: -15px;
    left: 360px;
}
.op input{
    accent-color: black;
}
.lang-pop-up-main{
    height: 190px;
    width: 250px;
    position: absolute;
    top: 47px;
    left: 1124px;
    background-color: white;
    z-index: 1;
    padding: 10px 8px 8px 8px;
    border-radius: 7px;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
    display: none;

}
.lang-country{
    display: flex;
    gap: 120px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0 rgb(0 0 0 / 20%);
}
.lang-cct-left{
    display: flex;
    padding-left: 20px;
    padding-top: 7px;
    gap: 7px;
}
.lang-down-arro i{
    color: #2f5fda;
}
.lang-select{
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
}
.lang-select span{
    font-size: 11px;
    color: #5b5b5b;
}
.lg-sl-eng{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;

}
.lg-sl-hindi{
    display: flex;
    padding-left: 33px;
    padding-top: 5px;
}
.lg-sl-bng{
    display: flex;
    padding-left: 33px;
    padding-top: 5px;
}
.lang-cct-country{
    font-weight: 500;
}
.lg-sl-eng label{
    font-weight: 500;
}
.city-bus{
    justify-content: flex-start;
    gap: 15px;
    height: 50px;
}
.op-cab{
    width: 800px;
}
.option-cab{
    margin-top: 9px;
}
.loc-cab{
    width: 28%;
}
.pp-up-cab-to{
    left: 290px;
}
.time-cab{
    border-right: 1px solid #b0b0b0;
    border-radius: 0;
}
.time-cab-pic{
    border-radius: 7px;
    border-right: none;
}
.date-popUp-cab{
    top: 148px;
    left: 614px;
}
.date-popUp-cab-return{
    left: 755px;
    top: 154px;
}
.day-popUp-hotel1{
    top: 150px;
    left: 394px;
}
.ct-hotel{
    margin-left: -80px;
}
.day-popUp-hotel2{
    left: 544px;
    top: 150px;
}
.txt-tt{
    padding-right: 29px;
    margin-top: -7px;
    line-height: 1.2;
    font-weight: 400;
    color: #4a4a4a;
}
.txt-tt h5{
    font-size: 15px;
}
.txt-tt p{
    font-size: 13px;
}
.op-train{
    width: 600px;
}
.loc-train{
    width: 32%;
}
.time-train{
    width: 188px;
}
.ttt-train{
    border-right: none;
    border-radius: 7px;
    padding-left: 31px;
}
.pp-up-train-to{
    left: 363px;
}
.date-popUp-train{
    left: 714px;
}
.class-down{
    width: 167px;
    height: 170px;
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 10px;
    position: absolute;
    top: 145px;
    left: 894px;
    box-shadow: 0 0px 10px 0 rgb(0 0 0 / 20%);
}
.ct-tr{
    padding-top: 15px;
}
.r-ct{
    margin-top: -10px;
}
.ct-2{
    cursor: pointer;
}
.ct-2:hover{
    color: #0069e1;
}
.container-train{
    margin: -60px auto 0;
}
.down-train{
    top:-75px;
}