@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}
::-webkit-scrollbar {
    width: .4rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #b384bc;
}
body{
    background-color: #e8fbff;
    font-family: 'Hind Siliguri', sans-serif;
}
.top-container{
    height: 46.0rem;
    width: 100%;
    background-image: linear-gradient(0deg, #ffdcdc, transparent);
}
.topC{
    height: 6rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(241,241,241,0) 0%, rgba(91,219,255,0.846673703661152) 94%, rgba(155,207,255,0.933508) 111%);
}
.navbar{
    height: 6rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 83.6rem;
    margin-top: .6rem;
}
.options a{
    text-decoration: none;
    color: black;
    display: flex;
}
.logo img{
    height: 11.0rem;
    margin-top: -2.0rem;
    margin-left: -2.0rem;
}
.child{
    height: 70%;
    display: flex;
    padding-right: 1.0rem;
    border-right: .1rem dashed #666666;
}
.lst-child{
    border: none;
    padding-right: 0rem;
    justify-content: center;
    align-items: center;
}
.lst-inner{
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
}
.inner h4{
    color: #264592;
    font-size: 1.3rem;
    font-family: system-ui;
}
.user-inner{
    display: flex;
    align-items: center;
    padding-bottom: .7rem;
}
.user-child{
    width: 13.0rem;
    justify-content: center;
    align-items: center;
}
.arrow{
    margin-left: 2.0rem;
    padding-top: .5rem;
}
.fst-child{
    padding-left: 0rem;
}
.inner p{
    color: #043465;
    font-size: 1.2rem;
}
.snd-child{
    margin-left: -2.7rem;
}
.trd-child{
    margin-left: -2.7rem;
}
#user-downArrow{
    color: #a0a2a3;
}
.container{
    height: 30.0rem;
    width: 110.0rem;
    margin: 4.0rem auto 0rem;
    border-radius: 1.0rem;
    background-color: #d1eeff73;
    box-shadow:  0rem .8rem 2.5rem .4rem rgb(0 0 0 / 10%);
    position: relative;
}
.menu-box{
    height: 6.0rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: .5rem;
    position: relative;
    bottom: 2.7rem;
    box-shadow: 0rem 0rem 1.5rem #cdadffe0;
    background-color: #b6b6ff61; 
}
.stick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: azure;
    background-image: none;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
    z-index: 3;
}
.menu-box-stick{
    display: block;
    left: -2.0rem;
    bottom: 0; 
    box-shadow: none;
    background-color: azure; 
}
.option{
    display: flex;
    height: 2.0rem;
    width: 100%;
    justify-content: space-between;
    margin-top: -1.0rem;
}
.txt{
    padding-right: 2.9rem;
    font-weight: 500;
    color: #4a4a4a;
    font-size: 1.5rem;
}
.op{
    display: flex;
    height: 100%;
    width: 37.0rem;
    justify-content: space-evenly;
}
.booking{
    height: 14.5rem;
    width: 95%;
    margin: 1.3rem auto 0rem;
    border: .1rem solid #b0b0b0;
    border-radius: .7rem;
    display: flex;
}
.loc{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border-right: .1rem solid #b0b0b0;
    padding-left: 2.8rem;
    cursor: pointer;
}
.ll{
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
}
.booking div:hover{
    background-color: #d1f5ff;
}
.language{
    position: absolute;
    height: 4.0rem;
    width: 15.5rem;
    border-radius: .7rem;
    background-color: #0000002b;
}
.l1{
    margin: 1.0rem 1.0rem 0rem 0rem;
    font-size: 1.7rem;
    color: #5b5b5b;
    font-weight: 500;
}
.l-city{
    margin: -.5rem 0rem .2rem 0rem;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    width: 26.0rem;
}
.l-airport{
    font-size: 1.2rem;
    color: #6b6b6b;
    margin-top: -1.0rem;
}
.time{
    height: 100%;
    width: 15.0rem;
    padding-left: 2.0rem;
    border-right: .1rem solid #b0b0b0;
    cursor: pointer;
}
.l2{
    font-size: 1.7rem;
    color: #5b5b5b;
    font-weight: 500;
    margin-top: 1.0rem;
}
.down{
    margin-left: .8rem;
}
.down i{
    color: #2f5fda;
}
.date{
    margin-top: -.7rem;
}
.day{
    font-size: 3.5rem;
    font-weight: 600;
}
.mm-yy{
    padding-left: .8rem;
    font-size: 2.3rem;
    font-weight: 400;
}
.t-day{
    font-size: 1.6rem;
    color: #333232;
    margin-top: -1.3rem;
}
.r-txt{
    font-size: 1.3rem;
    font-weight: 600;
    color: #9b9b9b;
    margin-top: .7rem;
}
.position{
    height: 100%;
    width: 22.1rem;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    padding-left: 1.5rem;
    cursor: pointer;
}
.t-txt{
    margin-top: -1.5rem;
}
.tp{
    font-size: 1.4rem;
}
.offer{
    font-size: 1.3rem;
    color: #b70202;
    font-weight: 500;
}
.menu-child{
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    width: 8.8rem;
}
.menu-child div{
    height: 2.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}
.menu-child:hover{
    color: #0069e1;
}
.active{
    color: #0069e1;  
}
.btn{
    height: 3.5rem;
    width: 14.0rem;
    border: none;
    outline: none;
    background: linear-gradient(50deg, #65d5ff, #fd86bb);
    color: #09208a;
    font-size: 1.9rem;
    font-weight: 600;
    border-radius: 3.0rem;
    margin: 5.2rem 0rem 0rem 47.5rem;
    cursor: pointer;
}
.downcont{
    height: 5.5rem;
    width: 67%;
    margin: 3.0rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e3f5ee;
    border-radius: 5.0rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
}
.downChild{
    display: flex;
    border-right: .1rem solid #b0b0b0;
    width: 20.0rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.dc3{
    width: 35.0rem;
    background-color: #fffed2bf;
}
.dc5{
    border-right: none;
}
.dc1 h6{
    font-weight: 500;
}
.dc2 h6{
    font-weight: 500;
}
.dc4 h6{
    font-weight: 500;
}
.dc5 h6{
    font-weight: 500;
}
.ttxt h6{
    font-size: 1.4rem;
}
.ttxt p{
    font-size: 1.1rem;
    color: #9b9b9b;
}
.downChild span{
    padding-top: .7rem;
    padding-right: 1.2rem;
}
.downChild img{
    height: 3.0rem;
    width: 3.0rem;
}
#spp{
    color: rgb(24, 133, 94);
    font-weight: 500;
    padding-top: 0rem;
    padding-right: 0rem;
}
.offers{
    height: 50.0rem;
    width: 80%;
    margin: 5.0rem auto;
}
.offers-box{
    height: 100%;
    width: 100%;
    border-radius: 1.0rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%)
}
.offers-nav{
    height: 5.0rem;
    width: 90%;
    display: flex;
    margin: 0rem auto 0rem;
    justify-content: space-between;
    padding-top: 2.5rem;
}
.offer-txt h5{
    font-size: 5.1rem;
    font-weight: 500;
    margin-top: -1.1rem;
}

.offers-buttons{
    width: 80%;
    height: 3.2rem;
    margin-top: 1.0rem;
    margin-right: 3.5rem;
    border-bottom: .1rem solid #b0b0b0;
}
.btnss{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
}
.offer-button-txt{
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.active-txt{
    color: hsl(212, 100%, 44%);
    border-bottom: .3rem solid rgb(30, 30, 230);
    text-align: center;
    width: 110%;
}
.offer-down-main{
    margin-top: 3.0rem;
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.offer-down-main::-webkit-scrollbar{
    display: none;
}
.sc{
    width: 135.0rem;
    display: flex;
    gap: 2.0rem;
}
.offer-down-box{
    height: 40.0rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.0rem;
}
.offer-child-box{
    height: 17.0rem;
    width: 44.0rem;
    border-radius: .5rem;
    box-shadow: 0rem .1rem .6rem 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    padding: 1.0rem;
    cursor: pointer;
}
.inner-top{
    width: 100%;
    height: 85%;
    display: flex;
    gap: 2.1rem;
}
.inner-down{
    width: 100%;
    height: 3.0rem;
    display: flex;
    gap: 5.0rem;
}
.offer-img img{
    height: 12.7rem;
    border-radius: 1.0rem;
}
.wr-top{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: .3rem;
    line-height: 1.2;
}
.wr-down{
    font-size: 1.7rem;
    color: #9b9b9b;
    line-height: 1;
    margin-top: -1.0rem;
}
.red{
    display: inline-block;
    height: 0.2rem;
    width: 5rem;
    background-color: red;
    margin-bottom: 2rem;
    margin-top: 0.4rem;
}
.tc{
    color: #4a4a4a;
    width: 12.4rem;
    text-align: center;
    padding-top: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.wel{
    color: #4a4a4a;
    padding-top: .4rem;
    font-weight: 300;
    width: 11.5rem;
    font-size: 1.6rem;
}
.details{
    font-weight: 600;
    color: #0069e1;
    padding-top: .4rem;
    cursor: pointer;
    font-size: 1.6rem;
}
.child span{
    position: relative;
}
.nav-offer-img{
    height: 2.4rem;
    margin: .7rem .8rem 0rem 0rem;
    animation-name: offer;
    animation-timing-function: linear;
    animation-duration: 7s;
}
@keyframes offer{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(80deg);}
    40%{transform: rotate(160deg);}
    60%{transform: rotate(240deg);}
    80%{transform: rotate(310deg);}
    100%{transform: rotate(360deg);}
}
.Biz-img{
    height: 2.5rem;
    width: 2.7rem;
    margin: .6rem .2rem 0rem 2.8rem;
}
.travle-img{
    height: 2.5rem;
    width: 2.7rem;
    margin: .6rem .7rem 0rem 3.3rem;
}
.user-img{
    height: 2.7rem;
    width: 2.7rem;
    margin: .6rem .7rem 0rem 1.0rem;
}
.flag-img{
    height: 2.7rem;
    width: 2.7rem;
    margin: .6rem .7rem 0rem 1.0rem;
}
.dc3 p{
    color: rgb(24, 133, 94);
    font-weight: 500;
}
.sc-all-offers{
    width: 322.0rem;
    display: flex;
    display: none;
}
.offer-down-box2{
    height: 40.0rem;
    width: 39.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.0rem;
}
.sc-bank-offers{
    width: 230.0rem;
    display: flex;
    display: none;
}
.change{
    position: relative;
}
.ch-img{
    height: 3.2rem;
    position: absolute;
    left: 24.4rem;
    top: 5.3rem;
}
.sc-flight-offers{
    width: 230.0rem;
    display: flex;
    display: none;
}
.sc-hotal-offers{
    width: 230.0rem;
    display: flex;
    display: none;
}
.sc-holidays-offers{
    width: 138.0rem;
    display: flex;
    display: none;
}
.sc-train-offers{
    width: 116.6rem;
    display: flex;
    justify-content: center;
    display: none;
}
.sc-cab-offers{
    width: 116.6rem;
    display: flex;
    justify-content: center;
    display: none;
}
.sc-other-offers{
    width: 230.0rem;
    display: flex;
    display: none;
}
.third-container span img{
    height: 6.0rem;
    margin-bottom: 1.5rem;
    margin-left: 1.0rem;
}
.third-container{
    height: 11.5rem;
    width: 80%;
    margin: 1.0rem auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.third-container::-webkit-scrollbar{
    display: none;
}
.t-sc{
    display: flex;
    gap: 1.5rem;
    width: 200.0rem;
    padding-left: .5rem;
    padding-top: .8rem;
}
.t-child{
    height: 10.0rem;
    width: 40.0rem;
    display: flex;
    align-items: end;
    background-color: white;
    gap: 1.5rem;
    border-radius: .5rem;
    box-shadow:  0 .2rem .4rem 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}
.t2-txt{
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
}
.t2-txt a{
    text-decoration: none;
    color: #0069e1;
}
footer{
    background-color: #043465;
    box-shadow: 0rem -.8rem 1.5rem 0 rgb(0 0 0 / 20%);
}
.footer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 5.0rem auto .1rem;
}
.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.0rem;
    cursor: pointer;
}
.box span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.box{
    text-align: center;
    font-size: 1.3rem;
}
.i{
    font-size: 2.7rem;
    color: #99afc2;
}
.box p{
    color: #8c949b;
}
.credit{
    text-align: center;
    padding-top: 1.0rem;
    color: honeydew;
    font-size: 1.4rem;
    word-spacing: .2rem;
}
.app-container{
    width: 80%;
    height: 30.0rem;
    margin: 5.0rem auto 0rem;
    border-radius: .8rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
}
.app-main{
    height: 100%;
    padding-top: 2.7rem;
    padding-left: 4.0rem;
}
.app-txt{
    width: 40%;
}
.app-txt h2{
    font-size: 4.0rem;
    line-height: 1;
    font-weight: 600;
    color: #000;
}
.app-txt p{
    font-size: 2.0rem;
    color: #4a4a4a;
}
.app-down{
    display: flex;
}
.app-child1{
    display: flex;
    margin-top: 4.5rem;
}
.app-img img{
    width: 10.0rem;
}
.app-mob{
    padding-left: 2.0rem;
    padding-top: 1.8rem;
}
.app-inp{
    display: flex;
    width: 42.5rem;
    height: 4.0rem;
    border: .1rem solid #9b9b9b;
    border-radius: .4rem;
}
.app-input{
    border: .1rem solid #9b9b9b;
    border-left: none;
    background: none;
    outline: none;
    width: 25.0rem;
    padding-inline-start: 1.1rem;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #ffff;
}
.app-btn{
    width: 12.4rem;
    border-radius: 0 .4rem .4rem 0;
    border: solid .1rem #9b9b9b;
    font-size: 1.5rem;
    font-weight: 600;
    color: #008cff;
    outline: 0;
    cursor: pointer;
    background-color: #fff;
}
.cuntry-code{
    display: flex;
    padding-top: .6rem;
    padding-left: .8rem;
    background-color: #ffff;
    border: .1rem solid #9b9b9b;
    border-radius: .4rem 0rem 0rem .4rem;
    border-right: none;
}
.code{
    font-weight: 600;
    font-size: 1.6rem;
}
.qr-box{
    display: flex;
    justify-content: space-evenly;
    width: 38.0rem;
    height: 13.4rem;
}
.qr img{
    height: 10.0rem;
}
.qr p{
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}
.playstore{
    display: flex;
    background-color: #000000fa;
    border-radius: .5rem;
    width: 16.0rem;
    cursor: pointer;
}
.playimg{
    height: 100%;
    width: 4.0rem;
    padding-top: .5rem;
    padding-left: 1.5rem;
}
.play{
    height: 3.5rem;
}
.playstore-txt{
    height: 100%;
    width: 100%;
    color: #d8d8d8;
    text-align: center;
}
.play-ttx{
    font-size: 1.0rem;
    margin-left: -2.8rem;
    margin-top: .9rem;
    line-height: 1;
}
.gp{
    font-size: 1.8rem;
    padding-left: .7rem;
}
.more-way-txt{
    color: #999898;
    padding-left: 3.8rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.appstore{
    display: flex;
    background-color: #000000fa;
    border-radius: .5rem;
    width: 16.0rem;
    margin-top: 2.0rem;
    cursor: pointer;
}
.apple{
    height: 3.5rem;
}
.apple-ttx{
    font-size: 1.0rem;
    margin-left: .5rem;
    margin-top: .9rem;
    line-height: 1;
}
.app-child2{
    margin-top: -1.4rem;
    padding-left: 5rem;
    border-left: 0.1rem solid #9b9b9b;
    margin-left: 5.8rem;
}
.ordernow-container{
    display: flex;
    width: 80%;
    height: 9.5rem;
    margin: 3.5rem auto 0;
}
.order-inner{
    display: flex;
    border-radius: .8rem;
    border: .2rem solid;
    border-left: 4.0rem solid;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    gap: 38.0rem;
    background-color: #f1fff7;
}
.ord-img{
    height: 6.5rem;
    border-radius: .4rem;
    position: absolute;
    left: -2.0rem;
    top: 1.4rem;
}
.ord-txt{
    color: #c2c0c0;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1;
}
.tr-money{
    font-size: 2.0rem;
    display: flex;
    margin-top: 1.6rem;
}
.tr-money img{
    height: 2.2rem;
    width: 3.0rem;
    position: relative;
    top: .4rem;
}
.trip{
    font-weight: 600;
    color: #42a5f5;
}
.oney{
    font-weight: 600;
    color: #90caf9;
}
.ord-btn{
    margin: 3.0rem 0rem 0rem 9.0rem;
    font-size: 1.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #008cff;
}
.od-box{
    padding-left: 5.0rem;
}
.ord-btn img{
    height: 2.0rem;
    width: 4.0rem;
    margin-bottom: -.3rem;
}
.gallery-main{
    width: 80%;
    height: 35.0rem;
    margin: 4.0rem auto 0;
    padding: 6.0rem 2.0rem 6.0rem 2.0rem;
    border-radius: .8rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
    position: relative;
}
.sc-g{
    overflow: scroll;
    height: 120%;
}
.sc-g::-webkit-scrollbar{
    display: none;
}
.gallery-sc{
    display: flex;
}
.fst-slid{
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    width: 100%;
}
.snd-slid{
    display: none;
    justify-content: space-evenly;
    height: 78%;
    width: 200.0rem;
}
.gallery-child {
  width: 34.0rem;
  height: 100%;
}
.gallery {
    border: .1rem solid #ccc;
    height: 100%;
    overflow: hidden;
    background-color: #eeffe5;
}
.gallery:hover {
    border:solid rgba(0, 0, 0, 0);
    box-shadow: 1.0rem 1.0rem .5rem 0 rgb(0 0 0 / 35%);
    background-color: #ccffb1;
}
.gallery img {
    width: 34.0rem;
    height: 15.0rem;
}
.gallery a{
    text-decoration: none;
}
.gallery-txt {
    color: #525252f5;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1.6rem 1.0rem;
    text-align: center;
    margin-bottom: .2rem;
}
.right-swip-arrow{
    height: 4.5rem;
    position: absolute;
    top: 15.1rem;
    right: -2.0rem;
    cursor: pointer;
}
.left-swip-arrow{
    display: none;
    height: 4.5rem;
    position: absolute;
    top: 15.1rem;
    left: -2.0rem;
    cursor: pointer;
}
.from-popUp-main{
    height: 29.0rem;
    width: 28.0rem;
    background-color: white;
    position: absolute;
    top: 12.5rem;
    left: 2.8rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .6rem 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}
.from-input{
    display: flex;
    width: 100%;
    position: static;
    box-shadow: 0 .1rem .6rem 0 rgb(0 0 0 / 20%);
}
.search-icon{
    width: 3.5rem;
    height: 3.6rem;
    text-align: center;
    font-size: 1.4rem;
    padding-top: .9rem;
}
.from-inp{
    border: none;
    outline: none;
    font-size: 1.7rem;
    height: 4.0rem;
    width: 24.9rem;
    padding-left: .5rem;
}
.from-down{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}
.r-city{
    font-size: 1.4rem;
    font-weight: 600;
    padding: .6rem 0rem 0rem 1.0rem;
    color: #9b9b9b;
}
.city{
    display: flex;
    width: 100%;
    height: 7.0rem;
    padding-left: 1.0rem;
    justify-content: space-between;
    cursor: pointer;
}
.city:hover{
    background-color: rgb(230 230 230 / 93%);
}
.plain-icon{
    display: flex;
    align-items: center;
    margin-right: 1.0rem;
}
.plain-icon img{
    height: 2.6rem;
}
.ct{
    padding-top: 1.7rem;
}
.ct-1{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}
.ct-2{
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 400;
    color: #939494;
}
.ct-code{
    padding-top: 1.7rem;
    margin-right: .8rem;
    font-weight: 500;
    color: #666767;
    font-size: 1.2rem;
}
.popular-city{
    margin-top: -.9rem;
}
.c-beng{
    margin-left: -1.6rem;
}
.c-bkk{
    margin-left: -4.0rem;
}
.c-pune{
    margin-left: -9.2rem;
}
.c-chni{
    margin-left: -1.7rem;
}
.to-popUp-main{
    height: 29.0rem;
    width: 28.0rem;
    background-color: white;
    position: absolute;
    top: 12.5rem;
    left: 29.0rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .6rem 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}
.city-main{
    height: 30.0rem;
    width: 80%;
    margin: 4.5rem auto 0rem;
    border-radius: .8rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 10%);
    background-image: radial-gradient(circle, rgb(255 255 255 / 0%) 10%, rgb(255 244 244 / 50%) 30%, rgb(174 154 154 / 60%) 200%);
    padding: 2.6rem 3.0rem 2.5rem 3.0rem;
}
.city-box{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.city-child{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 4.0rem;
}
.cct-c{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.city-img img{
    border-radius: 50%;
}
.cc{
    height: 100%;
    width: 28.7rem;
    margin-left: .6rem;
    font-size: 1.6rem;
}
.cc p{
    font-weight: 300;
}
.cc b{
    font-weight: 500;
    color: #727272fc;
}
.about-us-main{
    height: 39.0rem;
    width: 80%;
    margin: 4.0rem auto -1.5rem;
}
.about-h{
    font-size: 1.1rem;
    font-weight: 600;
    color: #4a4a4a;
    line-height: 3;
}
.about-p{
    color: #8f8f8f;
    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: .1rem;
}
.down-hotel{
    height: 15.0rem;
    width: 80%;
    border-radius: .8rem;
    display: block;
    background-color: #e2f0ff;
    padding: 1.5rem 2.0rem 2.0rem 2.0rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}
.app-container-hotel{
    margin: 17.4rem auto 0rem;
}
.down-inner{
    display: flex;
    margin-top: 1.0rem;
    gap: 14.0rem;
}
.d-i-1{
    display: flex;
    gap: 1.5rem;
    padding-top: .5rem;
}
.di-h{
    color: #4a4a4a;
    font-size: 3.0rem;
    line-height: 1;
    font-weight: 700;
}
.di-p{
    font-size: 1.7rem;
    color: #4a4a4a;
    line-height: 1.4;
}
.menu-box a{
    text-decoration: none;
    color: black;
}
.d-i-2{
    display: flex;
    background-color: #fff;
    border-radius: .8rem;
    border: .1rem #4ca6ff solid;
    width: 63%;
    height: 7.0rem;
    margin-top: .3rem;
}
.di2-fst{
    padding: 1.8rem;
    display: flex;
}
.di2-snd{
    padding: 1.8rem;
    display: flex;
}
.di2-snd h4{
    padding-top: .3rem;
    font-size: 1.8rem;
    color: #4a4a4a;
}
.di2-fst h4{
    color: #4a4a4a;
    font-size: 1.8rem;
}
.tik img{
    height: 1.7rem;
}
.tik{
    margin-left: .7rem;
    margin-right: 1.2rem;
    padding-top: .8rem;
}
.down-bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 6.0rem;
}
.down-bottom a{
    text-decoration: none;
    font-weight: 600;
    padding-top: .5rem;
    color: #008cff;
    font-size: 1.6rem;
}
.down-bottom p{
    font-size: 1.3rem;
    padding-right: 1.0rem;
    padding-top: 1.0rem;
    color: #999999f0;
    font-weight: 500;
}
.user-pop-up{
    height: 38.5rem;
    width: 40.0rem;
    padding-top: .4rem;
    padding-bottom: .2rem;
    position: absolute;
    border-radius: .8rem;
    right: 31.0rem;
    top: 5.0rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 15%);
    background-color: white;
    z-index: 1;
    display: none;
}
.user-pop-inner a{
    text-decoration: none;
    color: #333232;
}
.user-pop-child{
    display: flex;
    gap: 2.0rem;
    margin-top: 1.6rem;
    height: 6.0rem;
    padding: .1rem 1.1rem 0rem 1.3rem;
}
.user-pop-child:hover{
    background-color: #daeeffb2;
}
.us-pop-img i{
    font-size: 2.0rem;
    margin-top: .5rem;
    margin-left: .4rem;
    color: #8c949b;
}
.us-pop-txt h4{
    line-height: 1.3;
}
.us-pop-txt p{
    line-height: 1.2;
    font-size: 1.4rem;
}
#user-upArrow{
    color: #a0a2a3;
    display: none;
}
#lang-downArrow{
    color: #a0a2a3;
}
.loc2{
    width: 35%;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
}
.country{
    font-size: 1.2rem;
    color: #6b6b6b;
    margin-top: -1.0rem;
}
.ttt2{
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    border-right: none;
    padding-left: 1.7rem;
    width: 15.6rem;
}
.ppp2{
    border-radius: 0;
    border-right: .1rem solid #b0b0b0;
}
.oop2{
    margin-top: 1.0rem;
}
.tttx{
    position: relative;
    top: -3.0rem;
    left: -29.3rem;
    font-weight: 500;
    color: #4a4a4a;
    font-size: 1.6rem;
}
.tttx a{
    text-decoration: none;
    color: #008cff;
}
.op label{
    font-weight: 600;
    font-size: 1.6rem;
}
.btn2{
    margin: 3.4rem 0rem 0rem 47.5rem;
}
.date-popUp-main{
    position: absolute;
    top: 13.0rem;
    left: 55.0rem;
    display: none;
}
.dep-pop-inner input{
    width: 14.9rem;
    height: 5.0rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 1.0rem;
    color: #5c5c5c;
    border: none;
    outline: none;
    padding: 1.0rem 1.0rem 1.1rem .8rem;
    cursor: pointer;
}
.date-popUp-main-2{
    position: absolute;
    top: 13.0rem;
    left: 70.0rem;
    display: none;
}
.down-bus{
    height: 12.6rem;
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    box-shadow: none;
    top: -1.0rem;
}
.down-bus img{
    width: 100%;
    border-radius: 1.5rem;
}
.container-bus{
    margin: 13.5rem auto 0;
}
.sddo{
    height: 17.0rem;
    width: 108.0rem;
    background-color: #ffffff00;;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    position: absolute;
    top: 13.3rem;
    left: -4.0rem;
    border: 4.0rem #e3be61d9;
    border-bottom-width: 5.2rem;
    border-top-width: 0rem;
    border-top-style: solid;
    border-right-width: 0rem;
    border-left-width: 16.7rem;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    transform: rotate(357.5deg);
}
.pp-up-bus{
    z-index: 1;
    top: 14.5rem;
}
.pp-up-bus-tp{
    left: 45.7rem;
    z-index: 1;
    top: 14.5rem;
}
.date-popUp-bus{
    position: absolute;
    top: 15.0rem;
    left: 90.1rem;
    display: none;
}
.loc-bus{
    width: 41%;
}
.time-bus{
    width: 18.8rem;
    border-right: none;
    border-bottom-right-radius: .7rem;
    border-top-right-radius: .7rem;
}
.tttx-bus{
    top: -1.5rem;
    left: 36.0rem;
}
.op input{
    accent-color: black;
}
.lang-pop-up-main{
    height: 19.0rem;
    width: 25.0rem;
    position: absolute;
    top: 4.7rem;
    left: 112.4rem;
    background-color: white;
    z-index: 1;
    padding: 1.0rem .8rem .8rem .8rem;
    border-radius: .7rem;
    box-shadow: 0 .3rem 3.0rem 0 rgb(0 0 0 / 15%);
    cursor: pointer;
    display: none;

}
.lang-country{
    display: flex;
    gap: 12.0rem;
    height: 4.0rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0rem 1.0rem 0 rgb(0 0 0 / 20%);
}
.lang-cct-left{
    display: flex;
    padding-left: 2.0rem;
    padding-top: .7rem;
    gap: .7rem;
}
.lang-down-arro i{
    color: #2f5fda;
}
.lang-select{
    display: flex;
    justify-content: space-around;
    padding-top: 1.1rem;
}
.lang-select span{
    font-size: 1.1rem;
    color: #5b5b5b;
}
.lg-sl-eng{
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;

}
.lg-sl-hindi{
    display: flex;
    padding-left: 3.3rem;
    padding-top: .5rem;
}
.lg-sl-bng{
    display: flex;
    padding-left: 3.3rem;
    padding-top: .5rem;
}
.lang-cct-country{
    font-weight: 500;
}
.lg-sl-eng label{
    font-weight: 500;
}
.city-bus{
    justify-content: flex-start;
    gap: 1.5rem;
    height: 5.0rem;
}
.op-cab{
    width: 80.0rem;
}
.option-cab{
    margin-top: .9rem;
}
.loc-cab{
    width: 28%;
}
.pp-up-cab-to{
    left: 29.0rem;
}
.time-cab{
    border-right: .1rem solid #b0b0b0;
    border-radius: 0;
}
.time-cab-pic{
    border-radius: .7rem;
    border-right: none;
}
.date-popUp-cab{
    top: 14.8rem;
    left: 61.4rem;
}
.date-popUp-cab-return{
    left: 75.5rem;
    top: 15.4rem;
}
.day-popUp-hotel1{
    top: 15.0rem;
    left: 39.4rem;
}
.ct-hotel{
    margin-left: -8.0rem;
}
.day-popUp-hotel2{
    left: 54.4rem;
    top: 15.0rem;
}
.txt-tt{
    padding-right: 2.9rem;
    margin-top: -.7rem;
    line-height: 1.2;
    font-weight: 400;
    color: #4a4a4a;
}
.txt-tt h5{
    font-size: 1.5rem;
}
.txt-tt p{
    font-size: 1.3rem;
}
.op-train{
    width: 60.0rem;
}
.loc-train{
    width: 32%;
}
.time-train{
    width: 18.8rem;
}
.ttt-train{
    border-right: none;
    border-radius: .7rem;
    padding-left: 3.1rem;
}
.pp-up-train-to{
    left: 36.3rem;
}
.date-popUp-train{
    left: 71.4rem;
}
.class-down{
    width: 16.7rem;
    height: 17.0rem;
    background-color: white;
    border-radius: .5rem;
    overflow-y: scroll;
    padding: 1.0rem;
    position: absolute;
    top: 14.5rem;
    left: 89.4rem;
    box-shadow: 0 0rem 1.0rem 0 rgb(0 0 0 / 20%);
}
.ct-tr{
    padding-top: 1.5rem;
}
.r-ct{
    margin-top: -1.0rem;
}
.ct-2{
    cursor: pointer;
}
.ct-2:hover{
    color: #0069e1;
}
.container-train{
    margin: -6.0rem auto 0;
}
.down-train{
    top:-7.5rem;
}
.ct-train{
    width: 19.3rem;
}
.dep-pop-inner input:hover {
    color: #0069e1;
}
.class-down-flight{
    width: 17.4rem;
    top: 12.8rem;
    left: 86.4rem;
}
.us-pop-txt{
    font-size: 1.5rem;
}
.lang-pop-up{
    font-size: 1.6rem;
}
.fr-pop-home{
    top: 15rem;
    z-index: 1;
}
.tttx-home{
    top: -2.5rem;
    left: -33.3rem;
}
.ppp3{
    width: 12rem;
}
.date-homest{
    line-height: 1.2;
    padding-top: 1rem;
    margin-left: -1rem;
}
.time-hms{
    width: 20rem;
}
.day-pop-hms{
    left: 59.4rem;
}
.ttt-hms{
    padding-left: 1rem;
    width: 17.6rem;
}
.app-mob p{
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    margin-top: -1rem;
    color: #333232;
}
.down-hms{
    width: 91%;
    top: -3rem;
}
.ct-hms{
    margin: 10rem auto -11rem;
}
.cc b:hover{
    color: #008cff;
}
.slide-main{
    margin: 5rem auto 0rem;
    width: 78.3%;
    position: relative;
}
.carousel-inner{
    box-shadow: 0 0rem 1.0rem 0 rgb(0 0 0 / 70%);
    height: 32rem;
}
.slid-l{
    position: absolute;
    top: 13rem;
    left: 1.7rem;
    font-size: 7rem;
    color: white;
    cursor: pointer;
}
.slid-r{
    position: absolute;
    top: 13rem;
    left: 114rem;
    font-size: 7rem;
    color: white;
    cursor: pointer;
}
.img-2{
    display: none;
}
.img-3{
    display: none;
}
.img-4{
    display: none;
}
.loc4{
    width: 50%;
}
.ch-img2{
    left: 50.5rem;
}
.downcont2{
    width: 45%;
}
/* @media(min-width: 1400px){
    html{
        font-size: 55%;
    }
}
@media(min-width: 998px){
    html{
        font-size: 50%;
    }
} */